* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#banner{
    display:grid;
    grid-template:
                max-content
                max-content
                            / 1fr;

    grid-template-areas:
        "logo"
        "pitch";
}

#banner > div:first-child{
    padding-bottom: 0px;
    text-align: center;
}

#banner img {
    grid-area: logo;
    position: relative;
    left: -1em;
    width: 10vw;
    min-width: 50px;
    max-width: 125px;
    opacity: 0.75;
}

#banner h1{
    grid-area: pitch;

    padding-top: 1em;
}

#banner ul {

}

#banner li {
    display: block;
    float: right;
    padding-right: 3em;
}

.testimonial {
    display: grid;

    grid-template:
    70px
    max-content
    max-content
    /   0.95fr;

    grid-template-areas:
    "image"
    "text"
    "name";
}

.testimonial img {
    grid-area: image;
    margin-left: calc(0% - 20px);
    argin-top: 20px;
}

.testimonial .quote{
    height: 200px;
}


.horizontal-scroll {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-gap: 1em;
}

#pricing-options {
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    justify-content: center;
    gap: 2em;
}

.pricing-option {
    min-width: 320px;
    max-width: 25vw;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows:
            max-content
            1fr
            max-content;

    margin-left: auto;
    margin-right: auto;
}


.pricing-option > *:nth-last-child(2) {
    padding-bottom: 1em;
}

#pricing-options ul > li:last-of-type {
    margin-bottom: 0px;
}

#carey-timelaps{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    justify-content: center;
    text-align: center;
    gap: 2em;
}
#carey-timelaps img{
    max-width: 100vw;
}
#carey-timelaps h2{
    text-align: center;
}

#chatter{
    display: block;
    width: 100vw;
    overflow: scroll;
    text-align: center;
}

#legal {
    grid-area: legal;
}

