/* large */
@media (min-width: 1200px) {
    .responsive-text {
        font-size: calc(max(min(5vw, 48px), 14px));
    }

    #page {
        border-right: 1px solid #dedede;
        border-left: 1px solid #dedede;
    }

    .standard-cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .horizontal-scroll > * {
        width: 45vw;
        max-width: 400px;
    }
}

/* small */
@media (max-width: 1199px) {
    #components, #selfies {
        grid-template-columns: 1fr;
    }

    .responsive-text {
        font-size: calc(max(min(7vw, 90px), 14px));
    }

    #banner li {
        display: block;
        float: right;
        padding-right: 1.5em;
    }

    h1, h2, h3, h4, h5 {
        font-weight: 400;
    }

    .standard-cols {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: 1fr 1fr; /* Two equal-height rows */
    }


    #pricing-options {
        grid-template-areas:
        "a"
        "b"
        "c";
    }

    .pricing-option:nth-child(1) {
        grid-area: c;
    }

    .pricing-option:nth-child(2) {
        grid-area: b;
    }

    .pricing-option:nth-child(3) {
        grid-area: a;
    }

    .horizontal-scroll > * {
        width: 75vw;
    }

    .not-mobile{
        display: none;
    }
}

.reverse-grid{
    direction: rtl;
}
.reverse-grid > *{
    direction: ltr;
}
